@CHARSET "ISO-8859-1";

.cadastro1_titulo {
	font-size: 16px;
	font-weight: bold;
}

.cadastro2_titulo {
	font-weight: bold;
}

.cadastro1_borda {
	border-radius: 10px;
	border: solid 1px gray;
	padding: 5px;
	margin-bottom: 5px;
}

.teste {
	margin-right: x;
	text-align: right;
}

.mw-borderlayout .closeButton {
	width: 50px;
}

.myGridWithNoBorder tr.z-row td.z-row-inner,
.myGridWithNoBorder tr.z-grid-odd td.z-row-inner, 
.myGridWithNoBorder tr.z-grid-odd .z-cell  {
	border: 0px #CCC;
	background-color: #fff;
}

.myGridWithNoBorder div.z-grid-header div.z-auxheader-cnt,
.myGridWithNoBorder div.z-grid-header div.z-column-cnt  {
    padding: 4px 4px 4px;
}
.perfil_nome_academico{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}

/* css da pagina inicial do acadêmico */
.topo_image{
	display: inline-block;
}
.topo .topo_titulo{
	vertical-align: top;
}
.academico .div_menu{
	margin-top: 10px;
}

.academico .div_menu{
	border-radius: 10px; 
	border: solid 1px gray; 
	padding: 0px;
	width: 200px;
	height: 600px;
	float: left;
	margin-right: 10px;
}
.academico .div_menu .groupbox_menu{
	padding: 10px;
}
.div_menu .groupbox_titulo .z-label{
	position: relative;
	top: -10px;
	margin-left: 20px;
	background-color: white;
	font-weight: bold;
	font-size: 1em;
}
.academico .conteudo .conteudo_interno{
		
}
.academico .conteudo .conteudo_interno .z-include{
	padding: 9px	
}
